*{
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans Mono",  "Courier New", monospace;
}
header {
  position: relative;
  z-index: 5;
  background-color: #2525a7;
  box-shadow: 0 2px 5px 0px;
  text-align: left;
  padding: 8px;
}
ul{
  list-style-type: none;
}
li {
  float: left;
}
a {
  padding: 7px;
  color: #17191a;
  text-decoration: none;
}
a.current {
  padding: 7px;
  color: #cb7b1a;
  background-color: #efece8;
  text-shadow: #1f2628;
}
a:hover {
  padding: 7px;
  color: #cb7b1a;
  background-color: #efece8;
  text-shadow: #1f2628;
}
nav {
  position: sticky;
  position: -webkit-sticky;
  box-shadow: 0 2px 5px 0px;
  background-color: #b4bdc7;
  overflow: hidden;
  top: 0px;
  padding: 7px;
}
h1 {
  color: #efece8;
}
body {
  background-color: #efece8;
}
@media screen and (max-width: 1100px) {
  li {
    float: none;
    width: 100%;
  }
  ul {
    line-height: 220%;
    text-align: center;
  }
}
